.home-header{
  object-fit: cover;
  width: 60%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-header img {
  width: auto;
  height: min(630px,60vh);
  position: absolute;
  left: 19vw;
  top:4vh;
  z-index: 3;
  position: relative;
}

.alt-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/BGGlow.jpg');
  background-size: 100vw auto; /* Ensure consistency */
  background-position: center; /* Align with BGBase.jpg */
  background-repeat: no-repeat; /* Prevent tiling */
  pointer-events: none; /* Prevents interference with user interactions */
  mask-image: radial-gradient(circle max(6vw,68px) at var(--xPos, 0px) var(--yPos, 0px), rgba(22, 22, 22, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: radial-gradient(circle max(6vw,68px) at var(--xPos, 0px) var(--yPos, 0px), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 1;
}

@media screen and (max-width: 800px) {
  #home-header{
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
}
}