#home-header{
  object-fit: cover;
  width: 100%;
  height: 650px;
}

.alt-bg {
  position: fixed;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media screen and (max-width: 800px) {
  #home-header{
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
}
}